extends layout

block footer
  footer
    ul
      li
        a(href="/") HOME
      li
        a(href="/about") HOME
      li
        a(href="/work") HOME
      li
        a(href="/service") HOME
      li
        a(href="/contact") HOME
      li
        a(href="/privacy") PRIVACY
      p
        | AMRITGREWAL <br>
        | &copy; 2019, All Rights Reserved
