// ------------------------------------------------------------------------------------------------------------
//File Name: footer section file
//Author: Amrit Grewal
//Site: portfolio-amrit.herokuapp.com
//Description: This file code displays the footer on the site and this file is used globally in each page 
// ------------------------------------------------------------------------------------------------------------


extends layout

include footer
  footer
    ul
      li
        a(href="/") HOME
      li
        a(href="/about") HOME
      li
        a(href="/work") HOME
      li
        a(href="/service") HOME
      li
        a(href="/contact") HOME
      li
        a(href="/privacy") PRIVACY
      p
        | AMRITGREWAL <br>
        | &copy; 2019, All Rights Reserved
