//- File Name: header section file
//- Author: Amrit Grewal
//- Site: portfolio-amrit.herokuapp.com
//- Description: This file code displays the header on the site and this file is used globally in each page or in layout page


extends layout

block header


nav #mmenu
   ul .mm-nolist
      li a(href="/")Home
      li a(href="/about")About
      li a(href="/work")Work
      li a(href="/service")Service
      li a(href="contact")Contact

#body-wrap

#home-header .container-fluid.header-home

  nav .navbar.navbar-default.navbar-fixed-top.home-header-nav
    .row
      .col-md-12
        a(href="#mmenu" class="brand")
         i .fa.fa-bars
