// ------------------------------------------------------------------------------------------------------------
//File Name: contact page file
//Author: Amrit Grewal
//Site: portfolio-amrit.herokuapp.com
//Description: This file code display the contact page on the frontend of the site, in this file I display my contact info and ways to connect with me
// ------------------------------------------------------------------------------------------------------------


extends layout

block content
 .container
  h1= title
  p Welcome to #{what}
