extends layout

block content
 .container.bg
  h1= title
  p Welcome to my Portfolio

  .card.cardWidth
   img(src='/images/profile.png')
   .card-img-top
   .card-body
    h5.card-title #{myTitle}
    p.card-text #{myQuality}

      a(href="/contact")
       button.btn.btn-primary HIRE ME
