//- File Name: Home page file
//- Author: Amrit Grewal
//- Site: portfolio-amrit.herokuapp.com
//- Description: This file code display the home page on the frontend of the site, telling an overview about me.



extends layout


block content


  
 .container.bg
  nav.navbar.navbar-light
  a.navbar-brand(href="/index") Home
  a.navbar-brand(href="/about") About Me
  a.navbar-brand(href="/work") My Work
  a.navbar-brand(href="/service") Services
  a.navbar-brand(href="/contact") Contact Me
  nav.navbar.navbar-light.bg-light
  br

  h1= title
  p Welcome to my Portfolio

 
  .card.cardWidth
   img(src='/images/profile.png')
   .card-img-top
   .card-body
    h5.card-title #{myTitle}
    p.card-text #{myQuality}

      a(href="/contact")
       button.btn.btn-primary HIRE ME
       
   
