// ------------------------------------------------------------------------------------------------------------
//File Name: Service page file
//Author: Amrit Grewal
//Site: portfolio-amrit.herokuapp.com
//Description: This file code display the service page on the frontend of the site, in this file I am telling about the services I offer
// ------------------------------------------------------------------------------------------------------------



extends layout

block content
 .container
  h1= title
  p Welcome to #{what}
