//- File Name: Work page file
//- Author: Amrit Grewal
//- Site: portfolio-amrit.herokuapp.com
//- Description: This file code display the Work page on the frontend of the site, in this file all the previous projects and work done is shown.



extends layout

block content
 .container
  h1= title
  p Welcome to #{what}
