/*
// ------------------------------------------------------------------------------------------------------------
//File Name: style.css
//Author: Amrit Grewal
//Site: portfolio-amrit.herokuapp.com
//Description: This file has all the styles used in the website
// ------------------------------------------------------------------------------------------------------------
*/


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cardWidth{
  width: 18em;
}

.bg{
  background-image: url(/images/mern.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg h1{
  color: white;
}
.bg > p{
  color:white;
}

place1{
    float: left;
}
